{% extends 'base.html' %}
{% block title %}
  <title>Blogs</title>
{% endblock %}

{% block content %}
  <center><h3>Blog List</h3></center>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Created By</th>
        <th>Created Time</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in blogs %}
        <tr>
          <th><a href="{{ obj.get_absolute_url }}">{{obj.pk}}</a></th>
          <td>{{obj.title}}</td>
          <td>{{obj.content}}</td>
          <td>{{obj.created_by.get_full_name}}</td>
          <td>{{obj.created_time}}</td>
          <td><a href="{% url 'blog-update' obj.pk %}"><button type="button" class="btn btn-outline-info">Update</button></a></td>
          <td><a href="{% url 'blog-delete' obj.pk %}"><button type="button" class="btn btn-outline-danger">Delete</button></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}